table {
    /* font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; */
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: none;
  }
  table td,
  table th {
    border-bottom: 1px solid rgba(128, 128, 128, 0.234);
    padding: 8px;
  }
  table tr:nth-child(even) {
    background-color: #81cdeb;
  }
  table tr:hover {
    background-color: #ddd;
  }
  table th, tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #f2f2f2;
    color: black;
  }